.banner-outer-container {
    padding: 1.25rem 0;
    position: relative;
}

img.banner-bckg {
    object-fit: cover;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 50;
}

.banner__container {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 4rem 1rem;
    border-radius: 0.8rem;
    background-color: $color-blue-01;

    .spinner {
        position: absolute;
        z-index: 25;
        animation: spinner-animate 30s linear infinite;
    }

    &-spinner-top {
        @extend .spinner;
        left: 6rem;
        top: -1.25rem;
    }

    &-header {
        @extend .extend-h36px-type-2;
        max-width: 100%;
        margin: 0 auto 1.5rem auto;
        color: white;
    }

    &-link {
        @extend .extend-button-type-1;
        color: white;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-family: Calibre,Helvetica,Arial,sans-serif;
        background-color: rgb(32 , 150 , 255);
        position: inherit;
        z-index: 60;
    }

    &-spinner-bottom {
        @extend .spinner;
        right: 4rem;
        bottom: -1.5rem;
    }

    @keyframes spinner-animate
    {
        0%
        {
            transform: rotateZ(0deg);
        }
        100% 
        {
            transform: rotateZ(360deg);
        }
    }
}