.footer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;

    > * {
        width: 100%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        &-logo {
            display: none;
            fill: black;
            height: 2.8rem;
            width: 1rem;
            margin-right: calc((1/12) * 100% - 20px);
        }
        
        .list-item-name {
            @extend .extend-h24px-type-2;
            margin-bottom: 1rem;
        }

        &-items {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            margin-right: -0.5rem;
            margin-left: -0.5rem;

            &-products,
            &-learn,
            &-help_center,
            &-company{
                width: 100%;
                padding: 0 0.5rem;
                margin-bottom: 2.25rem;
                line-height: 1;

                &-name {
                    @extend .list-item-name;
                }

                &-link {
                    display: flex;
                    width: fit-content;
                    line-height: 1.2;
                    margin-bottom: 0.5rem;
                    font-size: 0.9rem;
                    opacity: 0.5;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    color: inherit;

                    &:hover {
                        opacity: 1;
                    }
                }

                &-link.active {
                    opacity: 1;
                }
            }
        }
        

        &-news_letter {
            width: 100%;

            &-name {
                @extend .list-item-name
            }

            &-content {
                color: $color-gray-04;
                margin-bottom: 1.5rem;
                font-size: 0.9rem;
            }

            &-subscribe {
                @extend .extend-button-type-2;
                @extend .extend-button-additional;
                border: 1px solid currentColor;
                background-color: transparent;
                color: $color-blue-01;
                font-family: Calibre;

                &:hover {
                    background-color: $color-blue-01;
                    border-color: $color-blue-01;
                    color: white;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1.5rem;
        margin-top: 2.5rem;
        line-height: 2;
        border-top: 1px solid $color-gray-08;
        font-size: 0.8rem;
        justify-content: space-between;
        align-items: center;

        &-info {
            display: flex;
            width: 100%;
            align-items: center;

            &-created {
                margin-top: 0.25rem;
                margin-right: auto;
                margin-bottom: 0.5rem;
            }

            &-link {
                margin-top: 0.25rem;
                margin-bottom: 0.5rem;
                margin-left: 1.25rem;
                text-decoration: none;
                color: inherit;
                transition: all 0.2s ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-icons {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 1.5rem;

            &-link {
                display: inline-flex;
                align-items: center;
                width: 0.75rem;
                height: 1.6rem;
                opacity: 1;
                color: inherit;
                transition: all 0.2s ease;

                &:hover {
                    opacity: 0.5;
                }

                > .icon {
                    width: 12.8px;
                }
            }
        }
    }
}