.header {
    &__main {
        height: 3rem;
        font-family: Calibre,Helvetica,Arial,sans-serif;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        justify-content: space-between;
        
        > * {
            align-self: center;
        }

        &-sharegate {
            display: flex;
        }

        .context {
            text-decoration: none;
            line-height: 1;
            color: $color-blue-01;
            font-size: 0.9rem;
            font-weight: 500;
        }

        &-container {
            transition: all 0.25s;
            width: 100%;
            visibility: hidden;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            height: fit-content;
            align-items: stretch;

            > * {
                align-items: center;
            }

            &-products {
                &-name {
                    @extend .context;
                    cursor: default;
                    display: inline-flex;
                    height: 100%;
                    align-items: center;
                    
                    &-small_down {
                        display: inline-flex;
                        height: 14.391px;
                        width: 14.391px;
                        margin-left: 5px;
                        justify-content: center;
                        transition: transform 0.25s;
                        place-items: center;
                    }
                }
            
                &:hover >  &-name > .icon {
                    transform: rotateX(180deg);
                }
    
                > .container {
                    display: flex;
                    width: 100vw;
                    margin-left: calc(50% - 50vw);
                    margin-right: calc(50% - 50vw);
                    padding-top: 20px;
                    padding-bottom: 50px;
                    background-color: white;
                    transition: all 0.25s;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    bottom: 25px;
                    transform: translateY(100%);
                    justify-content: center;
                    box-shadow: 0 11px 14px 0 rgba(0,0,0,.1);
                    transition-delay: .1s;
                    z-index: 200;
    
                    > .products-sg {
                        width: 100%;
    
                        > a {
                            transition: all 0.25s;
                            width: 100%;
                            padding-left: 10px;
                            padding-right: 10px;
                            font-weight: 400;
                            text-decoration: none;
                            color: $color-blue-01;
                            line-height: 1;
    
                            > p {
                                line-height: 1.25;
                                font-size: 0.9rem;
                            }
                        }
                    }
    
                    > .products-sg > a:hover {
                        opacity: 0.5;
                    }
                }
            }
    
            &-why-us,
            &-support,
            &-blog {
                @extend .context;
            }
        }

        &-container.active {
            top: calc(100% - 1px);
            opacity: 1;
            visibility: visible;

            > a {
                display: flex;
                font-size: 1rem;
                border-bottom: 1px solid #f0f0f0;
                padding: 0 24px;
                height: 60px;
            }
        }

        &-hamburger {
            display: none;
            width: 24px;
            height: 100%;
            position: relative;
            background-color: white;
            outline: 0;

            > span {
                width: 24px;
                height: 3px;
                background-color: currentColor;
                border-radius: 0;
                position: absolute;
                transition: top 75ms .12s,opacity 75ms , transform 75ms;
            }

            > span:nth-of-type(1) {
                margin-top: -6px;
            }

            > span:nth-of-type(3) {
                margin-top: 6px;
            }
        }

        &-hamburger.active {
            > span:nth-of-type(1) {
                margin-top: 0;
                transform: rotateZ(45deg);
            }

            > span:nth-of-type(2) {
                opacity: 0;
            }

            > span:nth-of-type(3) {
                margin-top: 0;
                transform: rotateZ(-45deg);
            }
        }
    }
        

    > div > hr {
        border: none;
        width: 100%;
        height: 0.05rem;
        background-color: $color-gray-08;
        z-index: -100;
    }
    
    &__product {
        height: 3rem;
        font-family: Calibre,Helvetica,Arial,sans-serif;
        padding-left: 25px;
        padding-right: 25px;

        > * {
            align-self: center;
        }

        &-overcast {
            height: 20px;
            display: flex;
            background-color: white;

            &-small_down {
                display: none;
                fill: $color-blue-01;
                height: 16px;
                width: 16px;
                margin-left: 0.5rem;
                transition: transform 0.25s;
                align-self: center;
                place-items: center;
            }
        }

        &__links{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            > * {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-left: 2rem;
                text-decoration: none;
            }

            .context {
                align-items: center;
                transition: all 0.25s;
                font-size: 0.9rem;
                line-height: 1.25;
                color: $color-blue-01;
            }

            &-overview {
                @extend .context;
                display: none;
            }

            &-features {
                @extend .context;
                display: none;
                cursor: default;
                opacity: 0.5;
                position: relative;

                &:hover {
                    opacity: 1;
                }

                &-small_down {
                    display: inline-flex;
                    height: 14.391px;
                    width: 14.391px;
                    margin-left: 4px;
                    justify-content: center;
                    transition: transform 0.25s;
                    place-items: center;
                }
    
                &:hover >  &-small_down {
                    transform: rotateX(180deg);
                }

                > .features {
                    width: max-content;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateY(125%) translateX(-50%);
                    transition: all 0.25s;
                    background-color: white;
                    z-index: 100;
                    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
                    padding: 25px;

                    > a {
                        opacity: 0.5;
                        display: flex;
                        line-height: 25px;
                        font-size: 0.9rem;
                        transition: all 0.25s;
                        flex-wrap: wrap;
                        white-space: nowrap;
                        text-decoration: none;
                        color: $color-blue-01;
                    }

                    > a:nth-of-type(1) {
                        margin-bottom: 10px;
                    }

                    > a:hover{
                        opacity: 1;
                    }
                }

                &:hover > .features {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(100%) translateX(-50%);
                }
            }

            &-interactive-demo {
                @extend .context;
                display: none;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            &-pricing {
                @extend .context;
                display: none;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            &-free-trial {
                @extend .extend-button-type-2;
                display: flex;
                background-color: $color-blue-01;
                color: white;

                &:hover {
                    background-color: $color-blue-02;
                }
            }

            &-log-in {
                @extend .extend-button-type-2;
                display: none;
                background-color: white;
                color: $color-blue-01;
                border: 1px solid $color-blue-01;

                &:hover {
                    background-color: $color-blue-01;
                    color: white;
                }
            }
        }

        &__mobile_links {
            display: none;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;
            width: 100%;
            flex-wrap: wrap;
            box-shadow:0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
            top: 100%;
            left: 0;
            transform: translateY(10px);
            position: absolute;
            padding: 1.25rem;
            line-height: 1.25;
            max-height: 35rem;
            z-index: 1000;
            background-color: $color-light-blue-10;

            .context {
                display: flex;
                text-decoration: none;
                line-height: 1.4;
                transition: 0.2s;
            }

            &-overview,
            &-management,
            &-optimization,
            &-interactive_demo,
            &-pricing,
            &-free_trial,
            &-log_in {
                @extend .context;
            }

            &-management,
            &-optimization,
            &-interactive_demo,
            &-pricing{
                opacity: 0.5;
            }

            > a:not(:first-child) {
                margin-top: 0.75rem;
            }

            > a:nth-of-type(-n + 5) {
                width: fit-content;
                font-size: 0.9rem;
                color: inherit;
            }

            &-free_trial,
            &-log_in {
                padding: 0 20px;
                border-radius: 50px;
                font-size: 16px;
                font-weight: 500;
                transition: all .3s ease-in-out;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                border: none;
                font-family: Calibre,Helvetica,Arial,sans-serif;
                white-space: nowrap;
                outline: 0;
                -webkit-appearance: none;
                text-align: center;
                cursor: pointer;
            }

            &-free_trial {
                color: white;
                background-color: $color-blue-01;

                &:hover {
                    background-color: $color-blue-02;
                }
            }

            &-log_in {
                color: inherit;
                border: 1px solid $color-blue-01;

                &:hover {
                    color: white;
                    background-color: $color-blue-01;
                }
            }
        }
    }
}

.pos-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.pos-sticky.scroll {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}