.mscloud {
    padding-top: 2rem;
    position: relative;
    flex-wrap: wrap;

    &__section {
        display: flex;
        margin-left: -2rem;
        margin-right: -2rem;

        &__info {
            align-self: center;
            width: calc((5/12) * 100%);
            max-width: 32rem;
            margin-right: auto;
            padding-right: 2rem;
            padding-left: 2rem;

            &-header {
                margin: 0;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 1.1;
                margin-bottom: 1rem;

                > div {
                    display: inline-flex;
                    vertical-align: middle;
                    height: 2.4rem;
                    width: 251px;
                    overflow: hidden;
                    position: relative;

                    > div {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        position: absolute;
                        bottom: 0;
                        animation: words-animate 6s linear infinite;

                        > span {
                            display: inline-flex;
                            align-items: center;
                            font-size: 2.4rem;
                            line-height: 1;
                        }

                        @keyframes words-animate
                        {
                            0% , 15%
                            {
                                bottom: 0;
                            }
                            17.5% , 50%
                            {
                                bottom: -100%;
                            }
                            52.5% , 82.5%
                            {
                                bottom: -200%;
                            }
                            85% , 100%
                            {
                                bottom: -300%;
                            }
                        }
                    }
                }
            }

            &-main {
                margin-bottom: 2rem;
                margin-top: 1.5rem;
                font-size: 1.1rem;
            }

            &-btns {
                justify-content: flex-start;
                display: flex;
                align-items: center;
                flex: wrap;

                &-free_trial {
                    @extend .extend-button-type-1;
                    background-color: $color-blue-01;
                    color: white;
                    border: none;

                    &:hover {
                        background-color: $color-blue-02;
                    }
                }

                &-interactive_demo {
                    @extend .extend-button-type-1;
                    background-color: white;
                    color: $color-blue-01;
                    border: 1px solid $color-blue-01;
                    margin-left: 1rem;
                    
                    &:hover {
                        background-color: $color-blue-01;
                        color: white;
                    }
                }
            }
        }

        &__image {
            width: calc((7/12) * 100%);
            max-width: 100%;
            padding-right: 2rem;
            padding-left: 2rem;
            margin-left: auto;
            margin-right: auto;

            > img {
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }
    }

    &__footer {
        width: 100%;
        margin-top: 4rem;
        
        &-info {
            margin: 1.5rem 0;
            font-weight: 500;
            font-size: 1.1rem;
            color: $color-gray-08;
            text-align: center;
        }

        &-logo_images {
            flex-wrap: nowrap;
            margin: 1.5rem 0;
            justify-content: space-around;
            align-items: center;
            display: flex;

            > img {
                margin: 0.5rem 1rem;
            }
        }
    }
}