.section {
    align-items: center;
    margin-top: 6rem;

    &__images {
        width: calc((7/12) * 100%);
        position: relative;

        > img {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transform: translateY(-50%);
            top: 0;
            left: 0;
            transition: opacity 1s;
            max-width: 100%;
            height: auto;
        }

        > img.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__context {
        width: calc((5/12) * 100%);

        &-blue {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.8rem;
            color: $color-blue-10;
        }

        &-black {
            @extend .extend-h2rem-type-1;
            margin-bottom: 0.75rem;
        }

        &-text {
            color: $color-gray-08;
        }

        &-btn:nth-of-type(1) {
            margin-top: 1rem;
        }

        &-btn {
            display: flex;
            height: 3.1rem;
            transition: all 0.2s linear;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
            border-bottom: 1px solid $color-gray-08;
        
            > * {
                transition: all 0.2s linear;
            }

            > img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.75rem;
                filter: grayscale(100%);
            }

            > p {
                opacity: 0.5;
                color: $color-blue-01;
            }
        }

        &-btn:hover {
            > img {
                filter: grayscale(0);
            }

            > p {
                opacity: 1;
            }
        }

        &-btn.active {
            padding-top: 1px;
            border-bottom: 2px solid $color-blue-10;

            > img {
                filter: grayscale(0);
            }

            > p {
                opacity: 1;
                color: $color-blue-10;
            }
        }

        &-link {
            @extend .extend-button-type-1;
            margin-top: 1.5rem;
            border: 1px solid currentColor;
            background-color: transparent;
            font-family: Calibre,Helvetica,Arial,sans-serif;
            color: $color-blue-01;

            > svg {
                display: block;
                width: 15px;
                height: 13px;
                transition: 0.4s transform ease;
                margin-left: 0.45rem;
            }

            &:hover {
                background-color: $color-blue-01;
                border-color: $color-blue-01;
                color: white;

                > svg {
                    transform: translateX(0.25rem);
                }
            }
        }
    }
}