$color-blue-01: rgb(14 , 28 , 61);
$color-blue-02: rgb(50 , 62 , 90);
$color-blue-10: rgb(32 , 150 , 255);
$color-gray-04: rgb(86, 96, 119);
$color-gray-08: rgb(183, 187, 197);
$color-white-09: rgb(255, 246, 231); 